.form-auth {
    max-width: 25em;
    height: 45em;
    margin: 0 auto;
    margin-top: 2em;
    border: 1px solid black;
}

.form-login {
    justify-self: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.form-login h2 {
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}

.form-login input {
    text-align: start;
    height: 2em;
    margin-bottom: 20px;
}